<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="title" content="JW hockey news">
	<meta name="keywords" content="hockey, news, jw, hockey for life">

	<title>Document Title</title>
	<link rel="stylesheet" type="text/css" href="css/contact.css">
	<link rel="icon" type="image/png" href="images/icon.png"/>
</head>
<body>

	<div id="wrapper">
		<div id="top-bar">
			 <a href="/home">
            <img src="images/logo.png">
            </a>
		</div>

		<nav>
            <ul id="nav-bar">
                <li><a href="/home">Home
                </a></li>
                <li><a href="/news">News
                </a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
		</nav>

         <div id="news-bar">
         <marquee behavior="scroll" direction="left" >  Time has come for Kings' Doughty to claim Norris ----- Preseason roundup: Rangers win 9-round shootout ----- U.S. Olympian Hilary Knight practices with Ducks ----- Blackhawks add Carcillo to training camp roster ----- Lightning forward Drouin favorite for Calder Trophy ----- Preseason roundup: Capitals rally past Flyers ----- New stamps feature Hall of Fame defensemen ----- Excitement building for NHL Stadium Series game ----- Coyotes confirm talks with potential investor ----- Stars sign defenseman Dillon to one-year deal</marquee>
     	 </div>

 <h1>Follow Us</h1>

		<div id="button">

     	 <button>
     	 	<a href="http:/www.twitter.com" target="new">
     	 	<img src="images/twitter.png">
     	 	</a>
     	 </button>



     	 <button>
     	 	<a href="http:/www.facebook.com" target="new">
     	 	<img src="images/facebook.png">
     	 	</a>
     	 </button>



     	 <button>
     	 	<a href="mailto:wasserman.jared.10@gmail.com">
     	 	<img src="images/mail.png">
     	 	</a>
     	 </button>

   		</div>


	</div>

</body>
</html>
