<html>
  <head>
    <title>admin</title>
    <link rel="stylesheet" type="text/css" href="admin.css">
  </head>
  <body>
    <div id="header">
      <a href=/stock><button id="left" class="bot" name="stock">Report Stock</button></a>
      <a href=/createuser><button id="right" class="bot" name="create user">Create User</button></a>
      <h1>Columbia Prep Student Store</h1>
    </div>
    <div id="sort">
      <form id="search" action="index.html" method="post">

        <input class="cool" type="name" name="name" placeholder="name">

      </form>
    </div>
<div id="userbox">
  <div id="words">
  <div id="name">
    <p>Jared Wasserman</p>
  </div>
  <p>Grade: 8</p>
  <p>jaredwasserman19@cgps.org</p>
</div>
<div id="pic">
  <img src="placeholder.png">
  </div>
  <div id=fronthalf>
<div id=balance>
  <h1>$50</h1>
  </div>
  <div id="button1">
    <button  class="bot">Edit</button>
  </div>
</div>

<div id="backhalf">
  <div id="transact">
    <h4>Current Balance: $50</h4>
    <form action="">
      Deposit:  <input class="cool" type="number" name="deposit" placeholder="$" min="0" max="50">
      Purchase:  <input class="cool" type="number" name="deposit" placeholder="$" min="0" max="50">
      </form>
      <h4>Remaining Balance: $45</h4>
  </div>
  <div id=button>
    <button>Confirm</button>
  </div>
</div>



</div>


  </body>
</html>
