<html>
  <head>
    <title>createadmin</title>
    <link rel="stylesheet" type="text/css" href="createuser.css">

  </head>
  <body>
    <h1>Columbia Prep Student Store</h1>
    <div id="box">

    <h3>Register Admin</h3>
    <form id="admin" action="index.html" method="post">
      <input class="cool" type="text" name="name" placeholder="name"><br>
      <input class="cool" type="text" name="email" placeholder="email"><br>
      <input class="cool" type="password" name="password" placeholder="password"><br>
      <input class="cool" id="password-check" type="password" name="confirm_password" placeholder="confirm password"><br>
      Grade:<select name="grade"><br>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
      </select><br>
      Admin:<input type="checkbox" name="admin" value=true><br>
      <input id="bot" type="submit" value="Create">

    </form>
  </div>

  </body>
</html>
