<html>
  <head>
    <title>help</title>
    <link rel="stylesheet" type="text/css" href="help.css">
  </head>
  <body>
    <h1>Columbia Prep Student Store</h1>
    <div id="box">
      <h3>Having trouble signing in?</h3>
      <form id="help" action="index.html" method="post">
        <input type="radio" name="issue" value="unknown-pass">  I don't know my password<br><br>
        <input type="radio" name="issue" value="unknown-username">  I don't know my username<br><br>
        <input type="radio" name="issue" value="unknown-other">  I am having other problems<br>
        <input id="bot" type="submit" value="Next">
      </form>
    </div>




  </body>
</html>
