<html>
<head>
  <title>home</title>

  <link rel="stylesheet" type="text/css" href="home.css">

</head>
<body>
  <h1>Columbia Prep Student Store</h1>

  <div id="box">
    <h2>Login</h2>
    <form id="login" action="index.html" method="post">

      <input class="cool" type="username" name="username" placeholder="username">
      <input class="cool" type="password" name="password" placeholder="password">
      <br>
      <input id="bot" type="submit" value="Login">
    </form>
    <a href=/help><p>Need help?</p></a>
  </div>

</body>
</html>
