<html>
  <head>
    <title>admin</title>
    <link rel="stylesheet" type="text/css" href="registeradmin.css">
  </head>
  <body>
    <a href=/><h1>Columbia Prep Student Store</h1></a>
    <div id="box">
    <h3>Admin Only</h3>
    <form id="adminpage" action="/unknown" method="post">
      <input class="cool" id="pass" type="password" name="securepassword" placeholder="password" ><br>
      <input id="bot" type="submit" value="Login">
    </form>
  </div>
    <a href=/><h4>Go to home page</h4></a>
  </body>
</html>
