<html>
  <head>
    <title>setpassword</title>
    <link rel="stylesheet" type="text/css" href="setpassword.css">
  </head>
  <body>
    <h1>Columbia Prep Student Store</h1>

    <div id="box">
      <h2>Set Password</h2>
      <form id="setpassword" action="index.html" method="post">

        <input class="cool" type="password" name="password" placeholder="password">
        <input class="cool" type="password" name="confirm_password" placeholder="confirm password">
        <br>
        <input id="bot" type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
