<html>
  <head>
    <title>stock</title>
    <link rel="stylesheet" type="text/css" href="stock.css">
  </head>
  <body>
    <h1>Columbia Prep Student Store</h1>
    <h2>Stock</h2>
    <div id="itembox">
      <h3>Pringles</h3>
      <img src="placeholder.png"><br>
      <img id="icon" src="info-icon.png">
      
    </div>




  </body>
</html>
