<html>
  <head>
    <title>userhome</title>
    <link rel="stylesheet" type="text/css" href="user.css">
  </head>
  <body>
    <h1>Columbia Prep Student Store</h1>
    <h2>--------------------------</h2>
    <h3>Jared Wasserman</h3>
    <h6>Grade: 8</h6>
    <p>jwasserman19@cgps.org</p>
    <h2>Balance: $50</h2>
<img src="placeholder.png"/>
<br>
<a href="mailto:someone@example.com?Subject=Student Store" target="_top"><button name="button" id="bot">Contact Us</button></a>

  </body>
</html>
