#wrapper{
  width: 900px;
  margin: 0 auto;
}

.bold{
  text-decoration: underline;
}

h1{
  color: red;
  display: none;
}

.sub{
  display: none;
}

img{
  width: 500px;
  height: auto;
  margin-left: 200px;
  margin-right: 200px;
  display: none;
}

p{
  opacity: .1;
}

h4{
  text-align: center;
  opacity: .1;
}
